/*1588px / 766px*/

/* Bandeau en haut */
header {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #004d99;
    color: white;
    gap: 45px; /* Espacement entre les groupes */
    flex-wrap: wrap; /* Gestion pour petits écrans */
    position: relative; /* Positionnement relatif pour l'overlay */
}

header * {
    position: relative;
    z-index: 2;
}

header h1 {
    margin: 0;
    font-size: 24px;
    flex-shrink: 0;
}

header p {
    margin-bottom: 0;
}

header .infos p {
    margin-bottom: 10px;
    margin-top: 0;
}

header h3 {
    font-size: 16px;
    margin-top: 0;
    flex-shrink: 0;
}

header .views {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
}

header .views button {
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

header .views button.active {
    background-color: #004d99;
    color: white;
}

header .views  #adv-view:hover {
    background-color: #004d99;
    color: white;
    /* Ajouter une transition pour un effet de survol plus doux */
    transition: background-color 0.3s, color 0.3s;
}

header .views #prod-view:hover {
    background-color: #ffa332;
    color: white;
    /* Ajouter une transition pour un effet de survol plus doux */
    transition: background-color 0.3s, color 0.3s;
}

header .views #livr-view:hover {
    background-color: #4CAF50;
    color: white;
    /* Ajouter une transition pour un effet de survol plus doux */
    transition: background-color 0.3s, color 0.3s;
}

header .refresh-button {
    margin: 0;
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    border: 1px solid white;
    width: 100%;
}

header .refresh-button.active {
    background-color: #004d99;
    color: white;
    border: 1px solid white;
}

header .search {
    font-size: 14px;
    white-space: nowrap; /* Évite les retours à la ligne */
}

header .sorting {
    font-size: 14px;
    white-space: nowrap; /* Évite les retours à la ligne */
}

header .search input,
header .sorting select {
    font-size: 14px; /* Taille de la police */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid white; /* Bordure */
    background-color: white; /* Fond */
    padding: 5px 10px; /* Espacement intérieur */
    width: 150px; /* Largeur fixe */
    height: 35px; /* Hauteur fixe */
    line-height: 24px; /* Hauteur de la ligne pour aligner le texte */
    box-sizing: border-box; /* Inclut padding et bordure dans la taille totale */
    display: inline-block; /* Assure un alignement identique */
    margin-top: 0;
}

.ca-infos {
    display: flex;
    gap: 10px;
}

header .ca-info {
    font-size: 14px;
    white-space: nowrap; /* Évite les retours à la ligne */
}

header .ca-info p {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
}

header .update-current-week {
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

header .infos {
    font-size: 14px;
    white-space: nowrap;
    margin-left: auto;
}

/* Ecran de bureau plus petit */
@media (max-width: 1700px) {

    header h3 {
        font-size: 14px;
    }

    header .ca-info {
        font-size: 11px;
    }

    header .ca-info p {
        padding: 5px 10px;
    }

    header .update-current-week {
        font-size: 11px;
    }

    header .infos {
        font-size: 11px;
    }

    header .search input,
    header .sorting select {
        font-size: 11px;
        padding: 5px 10px;
        width: 100px;
        height: 30px;
        line-height: 20px;
    }

    header .views {
        padding: 5px;
        gap: 5px;
    }

    header .views button {
        padding: 5px 8px;
        font-size: 11px;
    }

    header .refresh-button {
        padding: 8px 12px;
        font-size: 11px;
    }

    header {
        gap: 25px;
        padding: 15px 15px;
    }
}