/* Configuration de base */
body {
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    outline: none; /* Supprimer les bordures bleues autour des éléments cliquables */
}

/* Masquer le défilement */
body.no-scroll {
    overflow: hidden;
}

/* Animation du texte */
#gestcom {
    font-size: 80px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
}

/* Définition de l'animation zoom durée */
@keyframes zoomInOut {
    0% {
        transform: scale(0); /* Très petit au départ */
        opacity: 1;
    }
    25% {
        transform: scale(1); /* Taille normale après 1 seconde */
    }
    50% {
        transform: scale(1); /* Maintenir la taille normale */
    }
    75% {
        transform: scale(1); /* Maintenir la taille normale */
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        transform: scale(800); /* Augmenter la taille à 800% */
        opacity: 0;
    }
}


/* Lancer l'animation quand la classe 'start-animation' est ajoutée */
#gestcom.start-animation {
    animation: zoomInOut 2s ease-in-out forwards;
}

/* Laisser un fond visible pendant l'animation */
.gestcom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1000;
    background: #004d99;
    background-size: 400% 400%;
    animation: gradientAnimation 4s ease infinite;
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #004d99;
    background-size: 400% 400%;
    animation: gradientAnimation 4s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-text {
    font-size: 24px;
    color: white;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#refresh-button:hover {
    background-color: #004d99;
    color: white;
    border: 1px solid #ffffff;
    /* Ajouter une transition pour un effet de survol plus doux */
    transition: background-color 0.3s, color 0.3s;
}

#refresh-yes {
    background-color: #004d99;
    color: white;
    border: 1px solid #004d99;
    width: 100%;
    margin: 0;
}

#refresh-no {
    background-color: white;
    border: 1px solid #333;
    color: #333;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}



/* Overlay sombre uniquement dans le header */
.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Fond noir semi-transparent */
    z-index: 1; /* Assurer que l'overlay est au-dessus de l'image de fond */
}

/* Conteneur principal */
main {
    display: flex;
    width: 100%;
}

/* Style des boutons et champs */
button, input[type="text"], input[type="checkbox"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Style de la popup */
.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurer qu'elle est au-dessus des autres éléments */
}

/* Contenu de la popup */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 20%;
}

.popup p {
    margin-top: 0;
}

.files-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around; /* Espacement équitable entre les éléments */
    gap: 10px;
}

.file-item {
    text-align: center; /* Centre le texte sous chaque icône */
    flex: 1; /* Assure que chaque élément prend une largeur égale */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.file-item:hover {
    background-color: #f9f9f9;
}

.file-item p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

.pdf-icon {
    width: 50px; /* Taille de l'icône */
    height: auto;
}


/* Styles pour la popup */
.commande-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none; /* Initialement cachée */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px); /* Flou d'arrière-plan pour un effet moderne */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow: hidden; /* Empêche le défilement */
}

.commande-popup-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    overflow: auto;
    max-width: 66%;
}

.commande-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.commande-popup-header h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.commande-popup-close {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.commande-popup-close:hover {
    color: #e74c3c;
}

#commande-popup-details {
    /* 3 colonnes pour les détails de la commande */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#commande-popup-details h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#leave-popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurer qu'elle est au-dessus des autres éléments */
}

#leave-yes {
    background-color: #004d99;
    color: white;
    margin-right: 10px; /* Espacement à droite entre les boutons */
    border: 1px solid #004d99;
}

#leave-no {
    background-color: white;
    color: #333;
    border: 1px solid #333;
}